[main]
verbose = {{ VERBOSE }}
number_of_workers = {{ NUM_OF_WORKERS }}

[redis]
host = "{{ REDIS_HOST }}"
port = {{ REDIS_PORT }}
password = "{{ REDIS_PASSWORD }}"

[postgresql]
host = "{{ POSTGRES_HOST }}"
port = {{ POSTGRES_PORT }}
user = "{{ POSTGRES_USER }}"
password = "{{ POSTGRES_PASSWORD }}"
database = "{{ POSTGRES_DATABASE }}"

[queues.activation-1]
handler = "azafea.event_processors.endless.activation.v1"

[queues.ping-1]
handler = "azafea.event_processors.endless.ping.v1"

[queues.metrics-2]
handler = "azafea.event_processors.endless.metrics.v2"

[queues.metrics-3]
handler = "azafea.event_processors.endless.metrics.v3"

[postgresql.connect_args]
sslmode = "{{ POSTGRES_SSL_MODE }}"
sslrootcert = "/etc/ssl/certs/ca-certificates.crt"
