[pipenv]
sort_pipfile = true

# Some dev packages are just for Read the Docs so that requirements
# don't need to be duplicated there. See
# https://docs.readthedocs.io/en/stable/builds.html#default-versions-of-dependencies.
[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
mypy = ">=0.750, < 0.920"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
# For Read the Docs
sphinx-rtd-theme = "*"
sqlalchemy-stubs = ">=0.3"
types-redis = "~= 3.5"
types-requests = "~= 2.26.0"
types-toml = "*"
typing-extensions = ">= 3.7.4"

[packages]
alembic = "*"
psycopg2 = "*"
pydantic = ">= 1.3, < 1.9"
pygobject = "*"
redis = "~= 3.5"
requests = "~= 2.26.0"
sqlalchemy = "<1.4"
toml = "*"

[scripts]
azafea = "python -m azafea"
doc = "sphinx-build -b html docs/source docs/build/html"
lint = "flake8"
test = "py.test --cov=azafea --cov-fail-under=65 --no-cov-on-fail -m 'not integration'"
test-all = "py.test --cov=azafea --cov-fail-under=99 --no-cov-on-fail --verbose"
type-check = "mypy"
