[pipenv]
sort_pipfile = true

[requires]
python_version = "3.11"

# Some dev packages are just for Read the Docs so that requirements
# don't need to be duplicated there. See
# https://docs.readthedocs.io/en/stable/builds.html#default-versions-of-dependencies.
[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
mypy = ">=0.750"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
# For Read the Docs
sphinx-rtd-theme = "*"
sqlalchemy-stubs = ">=0.3"
# FIXME: redis-py 5 has added native type hints, so types-redis is no
# longer required. Unfortunately, the native hints have problems at
# present, so types-redis still works better even though it hasn't been
# updated past 4.6.
#
# https://github.com/redis/redis-py/issues/2399
# https://github.com/redis/redis-py/issues/2933
types-redis = "< 6.0"
types-requests = "~= 2.32"
types-toml = "*"
typing-extensions = ">= 3.7.4"

[packages]
alembic = "*"
psycopg2 = "*"
pydantic = "~= 2.7"
pygobject = "*"
redis = "~= 5.0"
requests = "~= 2.32"
sqlalchemy = "<1.4"
toml = "*"

[scripts]
azafea = "python -m azafea"
doc = "sphinx-build -b html docs/source docs/build/html"
lint = "flake8"
metabase = "sphinx-build -b metabase docs/source docs/build/metabase"
test = "py.test --cov=azafea --cov-fail-under=65 --no-cov-on-fail -m 'not integration'"
test-all = "py.test --cov=azafea --cov-fail-under=99 --no-cov-on-fail --verbose"
type-check = "mypy"
