[dev-packages]
flake8-bugbear = "*"
# Using my fork temporarily, to have the Python 3 stubs for Redis
# https://github.com/python/typeshed/pull/3015
# https://github.com/python/typeshed/pull/3055
mypy = {editable = true,git = "https://github.com/HashBangCoop/mypy.git",ref = "bochecha/typeshed-redis"}
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mypy = "*"
sphinx = "*"
# Waiting for 0.2, master got lots of fixes and improvements since the last
# release: https://github.com/dropbox/sqlalchemy-stubs/issues/78
sqlalchemy-stubs = {git = "https://github.com/dropbox/sqlalchemy-stubs.git"}

[packages]
psycopg2 = "*"
pydantic = "*"
redis = "*"
sqlalchemy = "*"
toml = "*"

[scripts]
azafea = "python -m azafea"
doc = "make -C docs html"
test = "py.test --cov=azafea --cov-fail-under=89 --flake8 --mypy --no-cov-on-fail -m 'not integration'"
test-all = "py.test --cov=azafea --cov-fail-under=99 --flake8 --mypy --no-cov-on-fail"
